[nextcloud]
user = {{ nextcloud_user }}
group = {{ nextcloud_user }}

listen = /var/run/php/php7.1-nextcloud-fpm.sock

listen.owner = {{ nextcloud_http_server_user }}
listen.group = {{ nextcloud_http_server_group }}

pm = ondemand

pm.max_children = 5
pm.process_idle_timeout = 10s;
pm.status_path = /status

ping.path = /ping
ping.response = pong
